<div id="<%= dom_id user %>">
  <p>
    <strong class="text-warning">User Type :</strong>
    <strong ><%= user.user_type %></strong>
  </p>

  <p>
    <strong class="text-warning">Name :</strong>
    <strong ><%= user.name %></strong>
  </p>

  <p>
    <strong class="text-warning">Email :</strong>
    <strong ><%= user.email %></strong>
  </p>

</div>
